/* zalando-sans-expanded-200 - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans Expanded";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/zalando-sans-expanded-v2-latin-200.woff2") format("woff2");
}

/* zalando-sans-expanded-200italic - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans Expanded";
  font-style: italic;
  font-weight: 200;
  src: url("../assets/fonts/zalando-sans-expanded-v2-latin-200italic.woff2") format("woff2");
}

/* zalando-sans-expanded-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans Expanded";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/zalando-sans-expanded-v2-latin-300.woff2") format("woff2");
}

/* zalando-sans-expanded-300italic - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans Expanded";
  font-style: italic;
  font-weight: 300;
  src: url("../assets/fonts/zalando-sans-expanded-v2-latin-300italic.woff2") format("woff2");
}

/* zalando-sans-expanded-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans Expanded";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/zalando-sans-expanded-v2-latin-regular.woff2") format("woff2");
}

/* zalando-sans-expanded-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans Expanded";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/zalando-sans-expanded-v2-latin-italic.woff2") format("woff2");
}

/* zalando-sans-expanded-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans Expanded";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/zalando-sans-expanded-v2-latin-500.woff2") format("woff2");
}

/* zalando-sans-expanded-500italic - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans Expanded";
  font-style: italic;
  font-weight: 500;
  src: url("../assets/fonts/zalando-sans-expanded-v2-latin-500italic.woff2") format("woff2");
}

/* zalando-sans-expanded-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans Expanded";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/zalando-sans-expanded-v2-latin-600.woff2") format("woff2");
}

/* zalando-sans-expanded-600italic - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans Expanded";
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/zalando-sans-expanded-v2-latin-600italic.woff2") format("woff2");
}

/* zalando-sans-expanded-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans Expanded";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/zalando-sans-expanded-v2-latin-700.woff2") format("woff2");
}

/* zalando-sans-expanded-700italic - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans Expanded";
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/zalando-sans-expanded-v2-latin-700italic.woff2") format("woff2");
}

/* zalando-sans-expanded-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans Expanded";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/zalando-sans-expanded-v2-latin-800.woff2") format("woff2");
}

/* zalando-sans-expanded-800italic - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans Expanded";
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/zalando-sans-expanded-v2-latin-800italic.woff2") format("woff2");
}

/* zalando-sans-expanded-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans Expanded";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/zalando-sans-expanded-v2-latin-900.woff2") format("woff2");
}

/* zalando-sans-expanded-900italic - latin */
@font-face {
  font-display: swap;
  font-family: "Zalando Sans Expanded";
  font-style: italic;
  font-weight: 900;
  src: url("../assets/fonts/zalando-sans-expanded-v2-latin-900italic.woff2") format("woff2");
}
