/* === Dialog === */
dialog {
  background-color: var(--Slate-700);
  border-radius: 2rem;
  border: 0;
  width: 90%;
  max-width: 800px;
}

dialog:modal {
  max-height: 90vh;
  overflow: hidden;
}

dialog::backdrop {
  background-color: #292929b4;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem); /* for Safari */
}

/* === Modal Content === */
.modal__content {
  min-height: 48rem;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--White);
  padding: 2rem;
}

.modal__close {
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: 3rem;
  border: none;
  background: none;
  color: var(--White);
  z-index: 5001;
}

/* === Modal Header === */
.modal__header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.modal__number {
  opacity: 0.7;
  font-size: 1.8rem;
}

.modal__name {
  font-size: clamp(2rem, 2.874vw + 1.551rem, 5rem);
  font-weight: var(--font-weight-900);
}

.modal__name-row {
  display: flex;
  justify-content: space-between;
}

.modal__nav-btn {
  color: var(--White);
}

.modal__close:focus {
  outline: none;
}

/* === Tabs === */
.modal__tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.modal__tab {
  padding: 0.7rem 1.6rem;
  border: 1px solid white;
  border-radius: 2rem;
  background: transparent;
  cursor: pointer;
  color: white;
  font-weight: var(--font-weight-700);
}

.modal__tab--active {
  background: var(--White);
  color: var(--Slate-500);
}

/* === Modal Body === */
.modal__body {
  display: flex;
  height: 100%;
  gap: 2rem;
}

.modal__image {
  max-height: 30rem;
  flex-shrink: 0;
  padding: 2rem;
}

.modal__panel {
  flex: 1;
  border-left: 1px solid #ffffff33;
  padding-left: 2rem;
}

/* === Modal Tab Content === */
.modal__tab-content {
  display: none;
}

.modal__tab-content--active {
  display: block;
}

.modal__subtitle {
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
  font-weight: var(--font-weight-900);
}

.modal__subtitle--spaced {
  margin-top: 1.5rem;
}

.modal__tab-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.modal__tab-content li {
  margin: 0.4rem 0;
  font-size: 1.4rem;
}

/* === Responsive === */
@media (max-width: 46.875rem) {
  .modal__content {
    max-height: 80lvh;
    height: 100%;
    overflow-y: auto;
  }

  .modal__body {
    flex-direction: column;
    align-items: center;
  }

  .modal__panel {
    border-left: none;
    border-top: 1px solid #ffffff33;
    padding-left: 0;
    padding-top: 1.5rem;
    width: 100%;
  }

  .modal__tab {
    padding: 0.3rem 1.6rem;
  }

  .modal__subtitle {
    font-size: 1.4rem;
  }
}

@media (max-width: 21.875rem) {
  .modal__tabs {
    flex-direction: column;
  }
}
